{% extends 'accounts/layout.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block main %}
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block"><img src="https://www.deccanherald.com/sites/dh/files/article_images/2020/05/19/file70kc18dlox411gg69752-1188005359-1560449918.jpg" width="100%" height="100%"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Blood Bank-Login</h1>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user"
                                        id="exampleInputEmail" aria-describedby="emailHelp"
                                        placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Password">
                                </div>
                                
                                
                                <a href="{% url 'viewbloodbank' %}" class="btn btn-danger btn-user btn-block">
                                    Login
                                </a>
                                
                            <hr>
                            
                            <div class="text-center">
                                <a class="small" href="{% url 'bloodbanks_signup' %}">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block js %}
{% endblock %}
