<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Verify</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <style>
     
    </style>

</head>

<body class="bg-gradient-danger">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Verify OTP</h1>
                                    </div>
                                    <form class="user">
                                        <div class="container height-100 d-flex justify-content-center align-items-center">
                                            <div class="position-relative">
                                                <div class="card p-2 text-center" style="margin-bottom: 10px;"> 
                                                    <h6>Please enter the one time password <br>sent to your registered email</h6> 
                                                    <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" /> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" /> 
                                                    </div> 
                                                    
                                                </div> 
                                                
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="container height-100 d-flex justify-content-center align-items-center">
                                            <div class="position-relative">
                                                <div class="card p-2 text-center" style="margin-bottom: 10px;"> 
                                                    <h6>Please enter the one time password <br>sent to your registered phone number</h6> 
                                                    <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" /> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> 
                                                        <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" /> 
                                                    </div> 
                                                    
                                                </div> 
                                               
                                            </div>
                                        </div>
                                        
                                        
                                        <a href="addref_vid.html" class="btn btn-danger btn-user btn-block">
                                            Verify
                                        </a>
                                       
                                  
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
  
  function OTPInput() {
const inputs = document.querySelectorAll('#otp > *[id]');
for (let i = 0; i < inputs.length; i++) { inputs[i].addEventListener('keydown', function(event) { if (event.key==="Backspace" ) { inputs[i].value='' ; if (i !==0) inputs[i - 1].focus(); } else { if (i===inputs.length - 1 && inputs[i].value !=='' ) { return true; } else if (event.keyCode> 47 && event.keyCode < 58) { inputs[i].value=event.key; if (i !==inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } else if (event.keyCode> 64 && event.keyCode < 91) { inputs[i].value=String.fromCharCode(event.keyCode); if (i !==inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } } }); } } OTPInput();

    
})</script>
</body>

</html>