{% extends 'donors_requesters/layout.html' %}
{% load static %}

{% block css %}
{% endblock %}   
{% block main %}
<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    
    <div class="col-md-8">
      <div class="card-body">
        <h5>Lokesh</h5>
        <p class="card-text">Age : 20
      </p>
        <p class="card-text">Gender : Male
      </p>
        <p class="card-text">Blood Type Requested: O+ve
        </p>
        <p class="card-text">03/12/2001
      </p>
      <p class="card-text">City : Chennai
      </p>
        
      </div>
    </div>
    <button type="button" class="align-self-end btn btn-lg btn-block btn-danger" >Authenticate</button>
  </div>
</div>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    
    <div class="col-md-8">
      <div class="card-body">
        <h5>Lokesh</h5>
        <p class="card-text">Age : 20
      </p>
        <p class="card-text">Gender : Male
      </p>
        <p class="card-text">Blood Type Requested: O+ve
        </p>
        <p class="card-text">03/12/2001
      </p>
      <p class="card-text">City : Chennai
      </p>
        
      </div>
    </div>
    <button type="button" class="align-self-end btn btn-lg btn-block btn-danger">Authenticate</button>
  </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% endblock %}
{% block js %}
{% endblock %}