{% extends 'donors_requesters/layout.html' %}
{% load static %}

{% block css %}
{% endblock %}   
{% block main %}
<div class="container">

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4">
            <img src="https://previews.123rf.com/images/syawalan/syawalan1911/syawalan191100544/134264679-logo-design-template-for-clinic-hospital-medical-center-doctor.jpg" width="350px">
        
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5>SVCE Health Centre</h5>
                <p class="card-text">No 323,NSK Road,Nungambakkam
                </p>
                <p class="card-text">Chennai-600345
                    <p class="card-text">Tamilnadu,India
            </p>
            </p>
            <p class="card-text">svcehealth@gmail.com<br>044-2764356
            </p>
            <p class="card-text">www.svcehealth.com
            </p>
            
                
                <p class="card-text"><small class="text-muted">Uploaded 2 hours ago</small></p>
            </div>
            </div>
            
        </div>
        </div>

</div>
{% endblock %}
{% block js %}
{% endblock %}