
{% extends 'donors_requesters/layout.html' %}
{% load static %}

{% block css %}
{% endblock %}   
{% block main %} 
                <div class="container">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block"><img src="https://logodix.com/logo/1904834.jpg" width="100%" height="100%"></div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Add Blood Request</h1>
                                        </div>
                                        <form class="user" action="" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                                    placeholder="Email Address" required>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                                        placeholder="Phone Number" required>
                                                </div>
                                                <div class="col-sm-6" >
                                                    <!-- <input type="text" class="form-control form-control-user" id="exampleLastName"
                                                        placeholder="Hospital Profile"> -->
                                                        <select style="width: 100%;padding: 15px;color: #6e707e;
                                                        background-color: #fff;
                                                        background-clip: padding-box;
                                                        border: 1px solid #d1d3e2;"  class="form-control-user" name="cars" id="cars">
                                                          <option value="" disabled selected hidden>Hospital Profile</option>
                                                          <option value="volvo">Volvo</option>
                                                          <option value="saab">Saab</option>
                                                          <option value="mercedes">Mercedes</option>
                                                          <option value="audi">Audi</option>
                                                        </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="datetime-local" class="form-control form-control-user"
                                                        id="exampleInputPassword" placeholder="Date and Time">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" class="form-control form-control-user"
                                                        id="exampleRepeatPassword" placeholder="Duration">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user"
                                                        id="exampleInputPassword" placeholder="Blood Type">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" class="form-control form-control-user"
                                                        id="exampleRepeatPassword" placeholder="Quantity">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea placeholder="Address.."  type="text" class="form-control form-control-user" id="exampleInputEmail"
                                                    required>Address..</textarea>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user"
                                                        id="exampleInputPassword" placeholder="State">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control form-control-user"
                                                        id="exampleRepeatPassword" placeholder="City">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user"
                                                        id="exampleInputPassword" placeholder="Country">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" class="form-control form-control-user"
                                                        id="exampleRepeatPassword" placeholder="Zipcode">
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Add Request
                                            </a>
                                          
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
{% endblock %}
{% block js %}
{% endblock %}